<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Map2Civilization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Map2Civilization.Properties.Settings>
      <setting name="PlotColorOcean" serializeAs="String">
        <value>0, 0, 192</value>
      </setting>
      <setting name="PlotColorCoast" serializeAs="String">
        <value>128, 255, 255</value>
      </setting>
      <setting name="PlotColorFlat" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="PlotColorHill" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="PlotColorMountain" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="PlotWidthPixelsSquarePlot" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="PlotWidthPixelsHexagonalP" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="PlotWidthPixelsRhombus" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MapGridColorModel" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ProcessedMapUnAssignedPlotGridColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="MinZoomPercent" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxZoomPercent" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ZoomStepPercent" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ProcessedMapHighlightedPlotGridColor" serializeAs="String">
        <value>Fuchsia</value>
      </setting>
      <setting name="ProcessedMapHighlightedPlotGridWidthPixels" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="KeyShrortcuts_NewModel" serializeAs="String">
        <value>Ctrl+N</value>
      </setting>
      <setting name="KeyShrortcuts_Save" serializeAs="String">
        <value>Ctrl+S</value>
      </setting>
      <setting name="KeyShrortcuts_SaveAs" serializeAs="String">
        <value>Ctrl+Shift+S</value>
      </setting>
      <setting name="KeyShrortcuts_ExportToCivMap" serializeAs="String">
        <value>Ctrl+E</value>
      </setting>
      <setting name="KeyShrortcuts_EditPlotData" serializeAs="String">
        <value>Ctrl+C</value>
      </setting>
      <setting name="KeyShrortcuts_EditRegion" serializeAs="String">
        <value>Ctrl+R</value>
      </setting>
      <setting name="KeyShrortcuts_AssignOcean" serializeAs="String">
        <value>O</value>
      </setting>
      <setting name="KeyShrortcuts_AssignCoast" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="KeyShrortcuts_AssignFlat" serializeAs="String">
        <value>F</value>
      </setting>
      <setting name="KeyShrortcuts_AssignHill" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="KeyShrortcuts_AssignMountain" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value>(Default)</value>
      </setting>
      <setting name="KeyShrortcuts_OpenModel" serializeAs="String">
        <value>Ctrl+O</value>
      </setting>
      <setting name="KeyShrortcuts_RepealAssignment" serializeAs="String">
        <value>X</value>
      </setting>
    </Map2Civilization.Properties.Settings>
  </userSettings>
</configuration>